/out
Bin/
build/
*.cache
/.vs
.idea/
CMakeSettings.json
Assets/Shaders/cache
Assets/Shaders/Spirv
Session.vim
.cache/
*.rad
*.png
CMakeCache.txt
CMakeFiles/
Makefile
cmake_install.cmake
compile_commands.json
.clang-format
build.bat

